BRIDGE/Backend/workflow_templates/task_email_notification.json
{
  "template_id": "tpl_task_notification",
  "name": "Task-Benachrichtigung",
  "description": "Sendet automatisch eine Nachricht wenn ein neuer Task erstellt wird. Perfekt fuer the owner: Immer informiert ueber neue Aufgaben.",
  "category": "notifications",
  "difficulty": "einfach",
  "icon": "mail",
  "variables": [
    {
      "key": "min_priority",
      "label": "Mindest-Prioritaet (1=alle, 2=mittel+hoch, 3=nur hoch)",
      "type": "number",
      "default": 1,
      "min": 1,
      "max": 3
    },
    {
      "key": "bridge_url",
      "label": "Bridge Server URL",
      "type": "url",
      "default": "http://localhost:9111"
    },
    {
      "key": "webhook_path",
      "label": "Webhook-Pfad",
      "type": "string",
      "default": "bridge-task-event"
    }
  ],
  "n8n_workflow": {
    "name": "Bridge: Task-Benachrichtigung",
    "active": true,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "{{webhook_path}}",
          "responseMode": "onReceived",
          "responseCode": 200
        },
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [250, 300],
        "webhookId": "{{webhook_path}}"
      },
      {
        "parameters": {
          "jsCode": "const payload = $input.first().json.body || $input.first().json;\nconst priority = Number(payload.data?.priority || 0);\nconst minPriority = Number('{{min_priority}}');\nif (priority < minPriority) {\n  return [];\n}\nreturn [{ json: payload }];"
        },
        "name": "Priority Filter",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [470, 300]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "{{bridge_url}}/send",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {"name": "from", "value": "system"},
              {"name": "to", "value": "user"},
              {"name": "content", "value": "=Neuer Task: {{$json.body?.data?.title ?? $json.data?.title ?? ''}}\nPrioritaet: {{$json.body?.data?.priority ?? $json.data?.priority ?? ''}}\nZugewiesen an: {{$json.body?.data?.assigned_to ?? $json.data?.assigned_to ?? ''}}\nErstellt von: {{$json.body?.data?.created_by ?? $json.data?.created_by ?? ''}}"}
            ]
          },
          "options": {}
        },
        "name": "Bridge Notify",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [690, 300]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [{"node": "Priority Filter", "type": "main", "index": 0}]
        ]
      },
      "Priority Filter": {
        "main": [
          [{"node": "Bridge Notify", "type": "main", "index": 0}]
        ]
      }
    }
  },
  "setup_steps": [
    "Template deployen (1-Klick im Workflow-Wizard)",
    "Bridge Event-Subscription wird automatisch erstellt",
    "Benachrichtigungen erscheinen im Bridge Chat"
  ],
  "bridge_subscription": {
    "event_type": "task.created",
    "filter": {}
  }
}
